body {
    margin: 0;
    border: 0;
    padding: 0;
    /*font-family: 'Berkshire Swash', cursive;*/
    /*titulo*/
    font-family: 'Domine', serif;
    /*parrafos*/

}

@media only screen and (min-width: 600px) {
    .nombre {
        text-align: center;
        font-size: 20px;

    }

    .subtitulo {
        text-align: center;
        font-size: 20px;
    }
}

#navbarNav {
    /*lista del navbar*/
    margin-left: 26rem;
    font-size: 20px;
}

.nombre {
    /*nombre en el navbar y en el footer*/
    font-family: 'Berkshire Swash', cursive;
    font-size: 37px;
    font-weight: lighter;
    margin-left: 3rem;
}

#hero-section {
    /*seccion donde va la foto principal*/
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    font-weight: bolder;
    background-size: inherit;
    background-image: url("../img/perfil-con-gato.jpg");
    background-repeat: no-repeat;
    padding: 11rem 8.12rem;
    background-color: #e6a84b;
    padding-left: 30rem;
}


#experiencia {
    font-family: 'Domine', serif;
    font-weight: bolder;
    border: 2px solid #e6a84b;
    background-image: url("../img/servicio-al-cliente.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 600px) {

    /*para que se alinee las imagenes de "experiencia" en pantallas inferiores a 600px*/
    #experiencia img {
        display: block;
        padding-top: 1rem;
        text-align: center;
        width: 100%;
        height: 100%;
    }

}


@media only screen and (max-width:600px) {

    /*para que desaparezca la presentacion en pantallas inferiores a 600px*/
    #presentacion {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    /*para que desaparezca el carrusel en pantallas inferiores a 600px*/

    .carrusel {
        display: none;
    }

}



#carouselExampleIndicators img {

    width: 100%;
    height: 100%;
    border: 2px solid #e6a84b;
    padding: 1rem;

}


ol li {
    width: 10px;
    height: 10px;
    border-radius: 50% 50% 50% 50%;
}

#galeria {
    /*CONTENEDOR DEL CAR DECK*/
    background-color: #e6a84b;
    margin-top: 2rem;


}

.card-deck {
    /*grupo de galeria*/
    margin: 1rem;
    font-family: 'Domine', serif;
}

#contacto {
    /*DIV DE CONTACTO Y SU BORDE*/
    border: 2px double #e6a84b;
    background-image: url("../img/desktop-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#redes {
    /*ICONOS DE RRSS */
    /*ICONOS DEL FOOTER*/
    padding-top: 2rem;
    color: #ffffff;
}

.fab {
    color: #ffffff;
}


.line {
    /*LINEA DIVISORIA*/
    border: 2px solid orange;
    margin-left: 20rem;
    margin-right: 20rem;


}

.subtitulo {
    /*SUBTITULO DE CADA SECCION*/
    text-align: center;
    font-family: 'Domine', serif;
    font-weight: bolder;
    padding-bottom: 2rem;
    text-decoration: underline;
    color: black;
    padding-top: 2rem;

}


li {
    /*CADA ITEM DE LAS LISTAS*/
    list-style: none;
    display: inline-block;
    padding: 1rem;
}

.btn {
    /*BOTON DEL FORMULARIO*/
    border: 2px solid #e6a84b;
}

@media only screen and (max-width: 600px) {}